hostname: localhost
port: 3000
protocol: http # or https
url_prefix: false # e.g. /my_app

admin_email: someone@example.com

# for biofab google docs import scripts only
# most developers won't need this
google_username: false
google_password: false
google_docs_key: false

# where data files are stored
# the _is_relative specifies whether the paht is relative to Rails.root
# make sure this is writable by the user or group running the rails process
data_files_path: /data_files
data_files_path_is_relative: true
