hostname: localhost
port: 3000
protocol: http # or https
url_prefix: false # e.g. /my_app

admin_email: someone@example.com

# for biofab google docs import scripts only
# most developers won't need this
google_username: false
google_password: false
google_docs_key: false

